body{
    background-color: rgb(35, 32, 32);
    color:aliceblue;
    


    

    
}
.aDi{
    background-color: aquamarine;
    color: black;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;

    
}
.diar{
    background-color: rgb(71, 59, 240);

    margin: 25px;
    padding: 15px;
    border-radius: 10px;



}
.cdiar{
    background-color: rgb(139, 131, 255);
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}
